<form action="new" method="post" class="form">
  <div class="title">
    <label for="title">Enter the title: </label>
    <input type="text" name="title" id="title" required>
  </div>
  <div class="lien_externe">
    <label for="lien_externe" >Enter the link: </label>
    <input type="text" name="lien_externe" id="lien_externe" required>
  </div>
  <div class="Tag">
    <label for="tag" >Enter the tag: </label>
    <input type="text" name="tag" id="tag" required>
  </div>

  <div class="form-example">
    <input type="submit" value="Submit">
  </div>
</form>